body {
    margin: 0%;
    padding: 0%;
    background: black;
}
.container{
    margin: 100px auto;
    text-align: center;
}

h1{
    font-size: 4em;
    font-family: sans-serif;
    color: #fff;
}
p{
    font-size: 5em;
    color: #fff;
}
button{
    border: none;
    padding: 15px 10px;
    font-size: 1.2em;
    width: 100px;
    margin: 10px;
    color: #fff;
    
}

#btn-start{
    cursor: pointer;
    background-color: green;
    color: #fff;
    transition: 0.4s;
    border: none;   
}
#btn-pause{
    background-color: blue;
    cursor: pointer;
    color: #fff;
}
#btn-reset{
    background-color: red;
    cursor: pointer;
    color: #fff;
}
#btn-start:hover {
    cursor: pointer;
    transition: 0.4s;
    border: none;
}
#btn-pause:hover {
    cursor: pointer;
    transition: 0.4s;
    border: none;
}
#btn-reset:hover {
    cursor: pointer;
    transition: 0.4s;
    border: none;
}